/*
    Theme Name: WeBuild
    Theme URL: https://bootstrapmade.com/free-bootstrap-coming-soon-template-countdwon/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
*/
/* ==== Google font ==== */
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700,900");
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  background: #394864;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fff;
}

h1 {
  font-size: 40px;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
  font-size: 20px;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
}

.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

/* wrapper */

#wrapper {
  text-align: center;
  padding: 5% 0 0 0;
  background: url(../img/main-bg.jpg);
  background-size: cover;
  height: 100%;
}

#wrapper h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: -1px;
}

h2.subtitle {
  color: #fff;
  font-size: 24px;
}

/* footer */
p.copyright {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  padding: 0;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: inherit;
}
